<div class="flex justify-between p-6 items-center h-full">
  <input
    type="text"
    placeholder="search products..."
    class="rounded-lg py-1.5 px-5 focus:outline-none placeholder:text-gray-600 placeholder-opacity-50 text-black font-medium bg-gray-300 focus:bg-gray-100"
  />
  <div class="flex gap-3">
    <button class="text-gray-500 hover:text-white">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2em"
        height="2em"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M8 8H4V4h4v4zm6-4h-4v4h4V4zm6 0h-4v4h4V4zM8 10H4v4h4v-4zm6 0h-4v4h4v-4zm6 0h-4v4h4v-4zM8 16H4v4h4v-4zm6 0h-4v4h4v-4zm6 0h-4v4h4v-4z"
        />
      </svg>
    </button>
    <button class="text-gray-500 hover:text-white">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2em"
        height="2em"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M4 19h16v-2H4v2zm16-6H4v2h16v-2zM4 9v2h16V9H4zm16-4H4v2h16V5z"
        />
      </svg>
    </button>
  </div>
</div>
