<section id="app" class="container mx-auto h-screen relative overflow-hidden">
  <nav
    class="overflow-hidden max-md:opacity-0 flex flex-col sticky top-0 items-center justify-between w-full h-full"
  >
    <app-category></app-category>
    <div class="flex items-center gap-2">
      <label for="price">Price</label>
      <input
        type="range"
        step="10"
        min="0"
        max="2000"
        [value]="price()"
        class="bg-green-400"
        (input)="handlePriceChange($event)"
      />
      <small>{{ price() | currency : "USD" }}</small>
    </div>
  </nav>
  <article class="w-full overflow-hidden">
    <header class="h-20 sticky top-0 z-30">
      <app-filter></app-filter>
    </header>
    <main class="overflow-y-auto px-6 h-full pb-20">
      <card-product [price]="price()" />
    </main>
  </article>
</section>
